/Precise-Antd/node_modules

/Precise-Antd/dist
/Precise-Antd/.vscode

/Precise-Antd/coverage
/Precise-Antd/.idea

/Precise-Antd/yarn.lock
/Precise-Antd/package-lock.json

/Precise-Antd/.temp/**
.umi
.umi-production

/Precise-Core/.vs

*bak

*.log
